<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>interval in seconds. Available Metrics: CPU, MEMORY</comment>
    <entry key="interval_values">5</entry>
    <entry key="interval_metadata">60</entry>
    <entry key="address">127.0.0.1</entry>
    <entry key="port">9090</entry>
    <entry key="metric">CPU</entry>
</properties>